<!DOCTYPE html>
<html>
<head>
  <title>Insertar Datos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <style>
    .navbar {
      background-color: #061919;
      margin-bottom: 30PX;
    }

    .navbar a {
      color: #000000;
      /* Cambia el color del texto de los enlaces de la barra de navegación */
    }

    .custom-icons {
      display: flex;
      justify-content: flex-end;
    }

    .custom-icons a {
      margin-right: 5px;
      /* Espacio entre los iconos */
      top: 30px;
    }
  </style>
</head>
<body>
  <div data-role="page">
    <div class="navbar" data-role="navbar" data-position="fixed">
      <img src="../assets/logo2.png" alt="" width="140px" height="100px" style="margin-left: 20px;" >
      <div class="ui-btn-right custom-icons">
        <a href="index.html" class="ui-btn ui-shadow ui-corner-all ui-icon-search ui-btn-icon-notext" style="width: 30px; height: 30px;">search</a>
        <a href="login.html" class="ui-btn ui-shadow ui-corner-all ui-icon-user ui-btn-icon-notext" style="width: 30px; height: 30px;">user</a>
        <a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-shop ui-btn-icon-notext" style="width: 30px; height: 30px;">shop</a>
      </div>
    </div>
    <div data-role="header">
      <h1>Insertar Datos</h1>
    </div>
    <div data-role="main" class="ui-content">
      <form id="insert-form">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" id="titulo">

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="descripcion"></textarea>

        <label for="precio">Precio:</label>
        <input type="number" name="precio" id="precio">

        <label for="fechalanzamiento">Fecha de Lanzamiento:</label>
        <input type="date" name="fechalanzamiento" id="fechalanzamiento">

        <label for="genero">Género:</label>
        <input type="text" name="genero" id="genero">

        <label for="plataforma">Plataforma:</label>
        <input type="text" name="plataforma" id="plataforma">

        <label for="editor">Editor:</label>
        <input type="text" name="editor" id="editor">

        <label for="imagen">Imagen:</label>
        <input type="file" name="imagen" id="imagen">

        <button type="submit" data-theme="b">Guardar</button>
      </form>
    </div>
  </div>
  <script>
    $(document).on('pagecreate', function() {
      $('#insert-form').on('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(this);
      });
    });
  </script>
</body>
</html>