<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <style>
    /* Estilos personalizados con tonos azules */
    .ui-header {
      background-color: #3498db;
    }
    .ui-header h1 {
      color: #fff;
    }
    .navbar {
      background-color: #061919;
      margin-bottom: 30PX;
    }
    .ui-btn {
      background-color: #2980b9;
      color: #fff;
    }
    .ui-content {
      background-color: #ecf0f1;
    }
    .ui-field-contain label {
      color: #3498db;
    }
    .ui-content a {
      color: #2980b9;
    }
    .ui-content a:hover {
      color: #1d5b81;
    }
    .ui-footer {
      background-color: #3498db;
      color: #fff;
    }
  </style>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body class="custom-theme">
  <div data-role="page" class="custom-theme">
    <div class="navbar" data-role="navbar" data-position="fixed">
      <img src="/uploads/logo2.png" alt="" width="140px" height="100px" style="margin-left: 20px;" >
      <div class="ui-btn-right custom-icons">
        <a href="index.html" class="ui-btn ui-shadow ui-corner-all ui-icon-search ui-btn-icon-notext" style="width: 30px; height: 30px;">search</a>
        <a href="login.html" class="ui-btn ui-shadow ui-corner-all ui-icon-user ui-btn-icon-notext" style="width: 30px; height: 30px;">user</a>
        <a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-shop ui-btn-icon-notext" style="width: 30px; height: 30px;">shop</a>
      </div>
    </div>
    <div role="main" class="ui-content" >
      <div class="ui-field-contain">
        <input type="text" id="username" placeholder="Nombre de Usuario">
      </div>
      <div class="ui-field-contain">
        <input type="password" id="password" placeholder="Contraseña">
      </div>
      <a href="#" data-role="button" data-icon="lock">Iniciar sesión</a>
      <p>¿Eres nuevo? <a href="/account">Regístrate aqui.</a></p>
      <a href="#" data-role="button" data-icon="google" data-iconpos="right">Iniciar sesión con Google</a>
    </div>
  </div>
</body>
</html>
